MONGO_URI ="mongodb+srv://rakeshchoudhary1154_db_user:stride-style-1-2-3-4@cluster0.oqrvch0.mongodb.net/StrideStyle"
DIRECT_URL="postgresql://postgres.seqcnbfykfuumovxzijw:stride-style-1-2-3-4@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"


ACCESS_TOKEN_SECRET="stride_style_@_1_2_3_4_DEVELOPER_IS_RAKESH"
REFRESH_TOKEN_SECRET="stride_style_@_1_2_3_4_DEVELOPER_IS_RAKESH"


#  NO NEED OF THiS JUST FOR BACKUP
DATABASE_URL="postgresql://postgres.seqcnbfykfuumovxzijw:stride-style-1-2-3-4@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"


UPSTASH_REDIS_URL="https://perfect-goat-182018.upstash.io"
UPSTASH_REDIS_TOKEN="gQAAAAAAAscCAAIgcDE5YzU2Nzg0ZDdhYjQ0NDNlYTk3Mjg1ZTM1ZWU2ZTNkNQ"


AUTHKEY_API_KEY = "d02546c89141de2c"


#: stride-style-1-2-3-4           # PASSWORD FOR MONGO AND SUPABASE BOTH


